---
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import '@fontsource/ibm-plex-sans/200.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/700.css'
const { title = 'Personal Website of David Fross' } = Astro.props

import { getWeather } from '../utils/getWeather.ts'
const weatherData = await getWeather()

interface Props {
	title: string
}
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="descriptin" content={SITE_DESCRIPTION} />
		<title>{SITE_TITLE} - {title}</title>
	</head>
	<body class="mx-auto flex h-full max-w-screen-md flex-col bg-neutral-900 p-9 text-neutral-200">
		<main class="flex-grow">
			<slot />
		</main>
		<footer>
			<p class="text-balance text-sm tracking-wide text-neutral-400">
				&copy; 2024 David Fross. All rights reserved. Crafted in Fulshear, TX, where it is currently {
					weatherData.temp_f !== null ? `${weatherData.temp_f}°F` : 'N/A'
				} and {weatherData.condition}.
			</p>
		</footer>
	</body>
</html>
